{% extends'base.html' %}

{% block title %}  Index Page  {% endblock title %}

{% block content %}

    <h1>Erfan Safarali</h1>
    <h2>Full stacks Developer</h2><hr>

    <!--  Porject Loop  -->

    <h1>Projects</h1>

    {% for project in projects %}

    <a href="{{url_for('project_detail' , project_id = project.id )}}"><div id="card-container" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{project.name}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{project.date}}</h6>
            <p class="card-text">{{project.description}}</p>
            <p class="card-text">Value : {{project.value}}</p>
        </div>
    </div>
    </a>

    {% endfor %}

    <hr>

    <!-- Skills  -->
        <h1>My Skills</h1>

    {% for skill in skills %}

    <a href="{{ url_for('skill_detail' , skill_id = skill.id) }}"><div id="card-container" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{skill.name}}</h5>
            <p class="card-text">{{skill.description}}</p>
            <p class="card-text">Level : {{skill.level}}</p>
        </div>
    </div></a>

    {% endfor %}

    <hr>

    <!-- -->

{% endblock content %}