{% extends'base.html' %}

{% block title %}  Index Page  {% endblock title %}

{% block content %}

    <h1>Erfan Safarali</h1> <a href="{{url_for('add_skill')}}">Add skill</a> <a href="{{url_for('add_proejct')}}">Add Prjetect</a>
    <h2>Full stacks Developer</h2><hr>

    <!--  Project Loop  -->

    <a href="{{ url_for('projects') }}"><h1>Projects</h1></a>

    {% for project in projects %}

    <a href="{{url_for('project_detail' , project_id = project.id )}}"><div id="card-container" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{project.name}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{project.date}}</h6>
            <p class="card-text">{{project.description}}</p>
            <p class="card-text">Value : {{project.value}}</p>
        </div>
    </div>
    </a>

    {% endfor %}

    <hr>

    <!-- Skills  -->
    <a href="{{ url_for('skills') }}"><h1>My Skills</h1></a>

    {% for skill in skills %}

    <a href="{{ url_for('skill_detail' , skill_id = skill.id) }}"><div id="card-container" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{skill.name}}</h5>
            <p class="card-text">{{skill.description}}</p>
            <p class="card-text">Level : {{skill.level}}</p>
        </div>
    </div></a>

    {% endfor %}

    <hr>

    <!-- Contact us -->

    <h1>Contact us</h1>

    <div class="contact-container">
        <form action="/contact_us" method="POST">

            <input name="input_name" type="text" placeholder="Your name">
            <textarea name="input_description" placeholder="Your request"></textarea>
            <input name="input_phone" type="number" placeholder="Your Phone number">
            <input type="submit" value="Submit">



        </form>
    </div>

{% endblock content %}