{% extends 'base.html'  %}

{% block title %} صفحه اصلی {% endblock title %}

{% block head %}
{% endblock head %}


{% block content %}




    <!-- recipe cards -->

    {% for recipe in recipes %}

        <div  class="card mb-3" style="max-width: 540px; text-align: center; display: inline-block">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/{{recipe.img_url}}" class="img-fluid rounded-start" alt="img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.name}}</h5>
                        <p class="card-text"><small class="text-body-secondary">{{recipe.country}}</small></p>
                        <p class="card-text"><small class="text-body-secondary">قیمت : {{recipe.cost}}</small></p>
                        <p class="card-text">{{recipe.ingredients}}</p>
                        <p class="card-text">{{recipe.instructions}}</p>
                        <p class="card-text"><small class="text-body-secondary">{{recipe.date}}</small></p>
                        <a href="{{url_for('detail' , recipe_id = recipe.id)}}" class="btn btn-primary">جزعیات</a>
                        <a href="{{url_for('delete' , recipe_id = recipe.id)}}" class="btn btn-danger">حذف</a>


                    </div>
                </div>
            </div>
        </div>


    {% endfor %}

{% endblock content %}