{% extends 'base.html' %}

{% block title %} داروی مدنظر {% endblock title %}


{% block header %}

{% endblock header %}

{% block content %}

<div style="text-align: center">
    <img src="/{{ medicin.img_path }}" class="card-img-top" alt="img">
    <!--         <img src="{{ url_for('static', filename=medicin.img_path) }}" alt="{{ medicin.name }}"> -> /static/static/... : one static from static method and one from database    -->
    <!--     <img src="{{ medicin.img_path }}" class="card-img-top" alt="img"> : it returns medicin_detail/static : becasue of refering so we put a / to say its an url not a function to resolve  -->
    <h2>{{ medicin.name }}</h2><hr>
    <p>{{ medicin.description }}</p><hr>
    <small> quantity : {{medicin.quantity}}</small><hr>
    <small>Price : {{medicin.price}}</small><hr>
</div>
{% endblock content %}