h1{
    color: red;
    text-align: center;
}

h2{
    text-align: center;
}

.form_project{

    text-align: center;


}

#card-container{
    text-align: center;
    display: inline-block;
}

.project_detail_container{
    text-align: center;
}