{% extends 'inc/base.html' %}

{% block title %} Detail page {% endblock title %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static' , filename = 'static/css/detail.css') }}">

{% endblock head %}

{% block content %}


<div class="card-card-container">

    <div class="card" style="width: 18rem;">
        <img src="{{car.img_path}}" class="card-img-top" alt="IMG">
        <div class="card-body">
            <h5 class="card-title">{{ car.name }}</h5>
            <p class="card-text">Price : {{car.price}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Date :{{car.date}}</li>
            <li class="list-group-item"> Country :  {{car.country}}</li>
            <li class="list-group-item">Health {{car.health}}</li>
        </ul>
        <div class="card-body">

        </div>
    </div>
</div>


{% endblock content %}