{% extends 'inc/base.html' %}

{% block title %} Register {% endblock title %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static' , filename = 'css/register.css') }}">

{% endblock head %}

{% block content %}

{% include 'inc/form_error.html' %}

<div class="car-register-container">
    <form action="" method="POST" novalidate enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% for field in form %}
            {% if field.name == 'csrf_token' %}
                <input type="hidden" name="csrf_token" value="{{ field.csrf_token }}">
            {% else %}
                {{ field.label }}   {{ field }} <br>
            {% endif %}




        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}