{% extends 'base.html' %}

{% block title %} Craete Article  {% endblock title %}


{% block content %}

    <h2>Create your article</h2>

    <form action="" method="post">

        <label>author name</label>
        <input name="input_name" type="text" placeholder="Your first name" required><br>
        <label>Body</label>
        <input name="input_body" type="text" placeholder="Your last name" required><br>

        <button type="submit">Submit</button>


    </form>



{% endblock content %}